@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.button {
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  /*TODO: individual for size/type ???*/
  transition: var(--motion-transition);
}

.button:disabled {
  /*TODO: how generate token from figma*/
  cursor: not-allowed;
}
