@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.borderPrimaryTiny {
  border: var(--border-primary-tiny) var(--color-primary-border);
}

.borderPrimarySmall {
  border: var(--border-primary-small) var(--color-primary-border);
}

.borderPrimaryMedium {
  border: var(--border-primary-medium) var(--color-primary-border);
}

.borderPrimaryLarge {
  border: var(--border-primary-large) var(--color-primary-border);
}

.borderPrimaryHuge {
  border: var(--border-primary-huge) var(--color-primary-border);
}

.borderPrimaryTiny:hover,
.borderPrimarySmall:hover,
.borderPrimaryMedium:hover,
.borderPrimaryLarge:hover,
.borderPrimaryHuge:hover {
  border-color: var(--color-primary-border-hover);
}

.borderPrimaryTiny:active,
.borderPrimarySmall:active,
.borderPrimaryMedium:active,
.borderPrimaryLarge:active,
.borderPrimaryHuge:active {
  border-color: var(--color-primary-border-active);
}

.borderPrimaryTiny:disabled,
.borderPrimarySmall:disabled,
.borderPrimaryMedium:disabled,
.borderPrimaryLarge:disabled,
.borderPrimaryHuge:disabled {
  border-color: var(--color-primary-border-disabled);
}

.borderSecondaryTiny {
  border: var(--border-secondary-tiny) var(--color-secondary-border);
}

.borderSecondarySmall {
  border: var(--border-secondary-small) var(--color-secondary-border);
}

.borderSecondaryMedium {
  border: var(--border-secondary-medium) var(--color-secondary-border);
}

.borderSecondaryLarge {
  border: var(--border-secondary-large) var(--color-secondary-border);
}

.borderSecondaryHuge {
  border: var(--border-secondary-huge) var(--color-secondary-border);
}

.borderSecondaryTiny:hover,
.borderSecondarySmall:hover,
.borderSecondaryMedium:hover,
.borderSecondaryLarge:hover,
.borderSecondaryHuge:hover {
  border-color: var(--color-secondary-border-hover);
}

.borderSecondaryTiny:active,
.borderSecondarySmall:active,
.borderSecondaryMedium:active,
.borderSecondaryLarge:active,
.borderSecondaryHuge:active {
  border-color: var(--color-secondary-border-active);
}

.borderSecondaryTiny:disabled,
.borderSecondarySmall:disabled,
.borderSecondaryMedium:disabled,
.borderSecondaryLarge:disabled,
.borderSecondaryHuge:disabled {
  border-color: var(--color-secondary-border-disabled);
}

.borderAlternativeTiny {
  border: var(--border-alternative-tiny) var(--color-alternative-border);
}

.borderAlternativeSmall {
  border: var(--border-alternative-small) var(--color-alternative-border);
}

.borderAlternativeMedium {
  border: var(--border-alternative-medium) var(--color-alternative-border);
}

.borderAlternativeLarge {
  border: var(--border-alternative-large) var(--color-alternative-border);
}

.borderAlternativeHuge {
  border: var(--border-alternative-huge) var(--color-alternative-border);
}

.borderAlternativeTiny:hover,
.borderAlternativeSmall:hover,
.borderAlternativeMedium:hover,
.borderAlternativeLarge:hover,
.borderAlternativeHuge:hover {
  border-color: var(--color-alternative-border-hover);
}

.borderAlternativeTiny:active,
.borderAlternativeSmall:active,
.borderAlternativeMedium:active,
.borderAlternativeLarge:active,
.borderAlternativeHuge:active {
  border-color: var(--color-alternative-border-active);
}

.borderAlternativeTiny:disabled,
.borderAlternativeSmall:disabled,
.borderAlternativeMedium:disabled,
.borderAlternativeLarge:disabled,
.borderAlternativeHuge:disabled {
  border-color: var(--color-alternative-border-disabled);
}

.borderInverseTiny {
  border: var(--border-inverse-tiny) var(--color-inverse-border);
}

.borderInverseSmall {
  border: var(--border-inverse-small) var(--color-inverse-border);
}

.borderInverseMedium {
  border: var(--border-inverse-medium) var(--color-inverse-border);
}

.borderInverseLarge {
  border: var(--border-inverse-large) var(--color-inverse-border);
}

.borderInverseHuge {
  border: var(--border-inverse-huge) var(--color-inverse-border);
}

.borderInverseTiny:hover,
.borderInverseSmall:hover,
.borderInverseMedium:hover,
.borderInverseLarge:hover,
.borderInverseHuge:hover {
  border-color: var(--color-inverse-border-hover);
}

.borderInverseTiny:active,
.borderInverseSmall:active,
.borderInverseMedium:active,
.borderInverseLarge:active,
.borderInverseHuge:active {
  border-color: var(--color-inverse-border-active);
}

.borderInverseTiny:disabled,
.borderInverseSmall:disabled,
.borderInverseMedium:disabled,
.borderInverseLarge:disabled,
.borderInverseHuge:disabled {
  border-color: var(--color-inverse-border-disabled);
}

.borderDangerTiny {
  border: var(--border-danger-tiny) var(--color-danger-border);
}

.borderDangerSmall {
  border: var(--border-danger-small) var(--color-danger-border);
}

.borderDangerMedium {
  border: var(--border-danger-medium) var(--color-danger-border);
}

.borderDangerLarge {
  border: var(--border-danger-large) var(--color-danger-border);
}

.borderDangerHuge {
  border: var(--border-danger-huge) var(--color-danger-border);
}

.borderDangerTiny:hover,
.borderDangerSmall:hover,
.borderDangerMedium:hover,
.borderDangerLarge:hover,
.borderDangerHuge:hover {
  border-color: var(--color-danger-border-hover);
}

.borderDangerTiny:active,
.borderDangerSmall:active,
.borderDangerMedium:active,
.borderDangerLarge:active,
.borderDangerHuge:active {
  border-color: var(--color-danger-border-active);
}

.borderDangerTiny:disabled,
.borderDangerSmall:disabled,
.borderDangerMedium:disabled,
.borderDangerLarge:disabled,
.borderDangerHuge:disabled {
  border-color: var(--color-danger-border-disabled);
}
