@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.outlineDangerHuge:focus-visible,
.outlineDangerHuge[data-focus-visible-added] {
  outline: var(--outline-danger-huge) var(--color-danger-outline);
}

.outlineDangerLarge:focus-visible,
.outlineDangerLarge[data-focus-visible-added] {
  outline: var(--outline-danger-large) var(--color-danger-outline);
}

.outlineDangerMedium:focus-visible,
.outlineDangerMedium[data-focus-visible-added] {
  outline: var(--outline-danger-medium) var(--color-danger-outline);
}

.outlineDangerSmall:focus-visible,
.outlineDangerSmall[data-focus-visible-added] {
  outline: var(--outline-danger-small) var(--color-danger-outline);
}

.outlineDangerTiny:focus-visible,
.outlineDangerTiny[data-focus-visible-added] {
  outline: var(--outline-danger-tiny) var(--color-danger-outline);
}

.outlineInverseHuge:focus-visible,
.outlineInverseHuge[data-focus-visible-added] {
  outline: var(--outline-inverse-huge) var(--color-inverse-outline);
}

.outlineInverseLarge:focus-visible,
.outlineInverseLarge[data-focus-visible-added] {
  outline: var(--outline-inverse-large) var(--color-inverse-outline);
}

.outlineInverseMedium:focus-visible,
.outlineInverseMedium[data-focus-visible-added] {
  outline: var(--outline-inverse-medium) var(--color-inverse-outline);
}

.outlineInverseSmall:focus-visible,
.outlineInverseSmall[data-focus-visible-added] {
  outline: var(--outline-inverse-small) var(--color-inverse-outline);
}

.outlineInverseTiny:focus-visible,
.outlineInverseTiny[data-focus-visible-added] {
  outline: var(--outline-inverse-tiny) var(--color-inverse-outline);
}

.outlineAlternativeHuge:focus-visible,
.outlineAlternativeHuge[data-focus-visible-added] {
  outline: var(--outline-alternative-huge) var(--color-alternative-outline);
}

.outlineAlternativeLarge:focus-visible,
.outlineAlternativeLarge[data-focus-visible-added] {
  outline: var(--outline-alternative-large) var(--color-alternative-outline);
}

.outlineAlternativeMedium:focus-visible,
.outlineAlternativeMedium[data-focus-visible-added] {
  outline: var(--outline-alternative-medium) var(--color-alternative-outline);
}

.outlineAlternativeSmall:focus-visible,
.outlineAlternativeSmall[data-focus-visible-added] {
  outline: var(--outline-alternative-small) var(--color-alternative-outline);
}

.outlineAlternativeTiny:focus-visible,
.outlineAlternativeTiny[data-focus-visible-added] {
  outline: var(--outline-alternative-tiny) var(--color-alternative-outline);
}

.outlineSecondaryHuge:focus-visible,
.outlineSecondaryHuge[data-focus-visible-added] {
  outline: var(--outline-secondary-huge) var(--color-secondary-outline);
}

.outlineSecondaryLarge:focus-visible,
.outlineSecondaryLarge[data-focus-visible-added] {
  outline: var(--outline-secondary-large) var(--color-secondary-outline);
}

.outlineSecondaryMedium:focus-visible,
.outlineSecondaryMedium[data-focus-visible-added] {
  outline: var(--outline-secondary-medium) var(--color-secondary-outline);
}

.outlineSecondarySmall:focus-visible,
.outlineSecondarySmall[data-focus-visible-added] {
  outline: var(--outline-secondary-small) var(--color-secondary-outline);
}

.outlineSecondaryTiny:focus-visible,
.outlineSecondaryTiny[data-focus-visible-added] {
  outline: var(--outline-secondary-tiny) var(--color-secondary-outline);
}

.outlinePrimaryHuge:focus-visible,
.outlinePrimaryHuge[data-focus-visible-added] {
  outline: var(--outline-primary-huge) var(--color-primary-outline);
}

.outlinePrimaryLarge:focus-visible,
.outlinePrimaryLarge[data-focus-visible-added] {
  outline: var(--outline-primary-large) var(--color-primary-outline);
}

.outlinePrimaryMedium:focus-visible,
.outlinePrimaryMedium[data-focus-visible-added] {
  outline: var(--outline-primary-medium) var(--color-primary-outline);
}

.outlinePrimarySmall:focus-visible,
.outlinePrimarySmall[data-focus-visible-added] {
  outline: var(--outline-primary-small) var(--color-primary-outline);
}

.outlinePrimaryTiny:focus-visible,
.outlinePrimaryTiny[data-focus-visible-added] {
  outline: var(--outline-primary-tiny) var(--color-primary-outline);
}
