@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.roundingNone {
  border-radius: var(--radius-none);
}

.roundingSmall {
  border-radius: var(--radius-small);
}

.roundingMedium {
  border-radius: var(--radius-medium);
}

.roundingLarge {
  border-radius: var(--radius-large);
}

.roundingFull {
  border-radius: var(--radius-full);
}
