@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.sizeTiny {
  min-height: var(--size-tiny);
  min-width: var(--size-tiny);
  font: var(--font-tiny);
}

.sizeSmall {
  min-height: var(--size-small);
  min-width: var(--size-small);
  font: var(--font-small);
}

.sizeMedium {
  min-height: var(--size-medium);
  min-width: var(--size-medium);
  font: var(--font-medium);
}

.sizeLarge {
  min-height: var(--size-large);
  min-width: var(--size-large);
  font: var(--font-large);
}

.sizeHuge {
  min-height: var(--size-huge);
  min-width: var(--size-huge);
  font: var(--font-huge);
}
