@import '~@darwin-studio/button-ee_style-dictionary/build/variables.css';

.test {
  display: flex;
  width: 300px;
  height: 300px;
  color: var(--color-blue);
  background-color: var(--color-gray-200);
  align-items: center;
  justify-content: center;
}
